# IDE stuff
.idea/

# Python stuff
__pycache__/
venv/

# Node/Vue stuff
.quasar/
node_modules
package-lock.json
.eslintrc.js

# Misc. outputs and resources
results/util/classFormat/boyClasses*
results/util/classFormat/girlClasses*
results/util/classFormat/schools.json